@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .2);
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  padding: 2rem;
  background: transparent;
  z-index: 100;
  transition: .5s;
}

.header.sticky{
  background: var(--bg-color);
  box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo{
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
}

.header.sticky .navbar a{
  color: var(--text-color);
}

.header.sticky .navbar a.active{
  color: var(--main-color);
}

.navbar a.active::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .2rem;
  background: var(--white-color);
}

.header.sticky .navbar a::before{
  background: var(--main-color);
  opacity: .7;
}

#darkMode-icon{
  cursor: pointer;
  font-size: 2.4rem;
  color: var(--white-color);
}

.header.sticky #darkMode-icon{
  color: var(--text-color);
  opacity: .9;
}

section{
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home{
  display: flex;
  align-items: center;
}

.home .home-content {
  max-width: 50rem;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: .9rem;
}

.home-content p {
font-size: 1.5rem;
}

.home-content .social-media a{
display: inline-flex;
align-items: center;
justify-content: center;
width: 4rem;
height: 4rem;
background: transparent;
border: .2rem solid var(--main-color);
border-radius: 50%;
box-shadow: 0 .2 .5 var(--shadow-color);
font-size: 2.5rem;
color: var(--main-color);
margin: 2.5rem 1.5rem 3rem 0;
transition: .5s ease;
}

.home-content .social-media a:hover{
  background-color: var(--main-color);
  color: var(--white-color);
}

.btn{
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background:var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2 .5 var(--shadow-color);
  font-size: 1.6rem;
  border: .2rem solid transparent;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover{
  background-color: transparent;
  color: var(--main-color);
  border: .2rem solid var(--main-color);
}

.home .profession-container{
  width: 768px;
  height: 768px;
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  top:50%;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box{
  width: 768px;
  height: 768px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.home .profession-box .profession{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  left: 0;
  background: var(--bg-color);
  padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.home .profession i {
  font-size: 3.8rem;
}

.home .profession h3 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1;
}

.home .profession-box .circle{
  width: 560px;
  height: 560px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
}
.home .profession-container .overlay{
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
}

.home-img img{
  position: absolute;
  bottom: 0;
  right: -15rem;
  width: 60%;
  pointer-events: none;
}

/*******************ABOUT SECTION****************************/
span{
  color: var(--main-color);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.about-img img {
  width: 40vw;
}

.heading{
  font-size: 4.5rem;
  text-align: center;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*******************SERVICES SECTION****************************/
.services {
  min-height: auto;
  padding-bottom: 7rem ;
}

.services h2 {
  margin-bottom: 5rem;
}

.services .services-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box{
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  text-align: center;
  border-top: .6rem solid var(--main-color);
  border-bottom: .6rem solid var(--main-color);
  transition: .5s ease;
}

.services-container .services-box:hover{
  box-shadow: 0 .1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h2 {
  font-size: 2.6rem;
  transition: .5s;
}

.services-box:hover h2 {
  color: var(--main-color);
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/*******************PORTFOLIO SECTION****************************/
.portfolio{
  padding-bottom: 10rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  overflow: hidden;
}

.portfolio-box img {
  width: 100%;
  transition: .5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 4rem;
  opacity: 0;
  transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
  opacity: 1;
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--white-color);
}

.portfolio-layer a i {
  font-size: 2rem;
  color: #333;
}

/*******************TESTIMONIALS SECTION****************************/
.testimonial-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.testimonial-content .testimonial-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  padding: 3rem 5rem;
  border-top: .8rem solid var(--main-color);
  border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: .5rem solid var(--bg-color);
  outline: .5rem solid var(--main-color);
}

.testimonial-slide h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.testimonial-slide p {
  font-size: 1.4rem;
  text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
  color: var(--main-color);
}

.testimonial-box .swiper-button-next {
  right: 0;
}

.testimonial-box .swiper-button-prev {
  left: 0;
}

.testimonial-box .swiper-pagination-bullet {
  background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
  background: var(--main-color);
}
